$body-background-color: #aabbff;

@import "res/bulma/bulma.sass";

$shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

#status-window {
    background: white;
    border-radius: 16px;
    padding: 32px;
    box-shadow: $shadow;

    .subject {
        font-size: 32px;

        &.bold {
            font-weight: 700;
        }
    }


    .generic-status {
        font-size: 16px;
    }

    #footer {
        display: block;
    }
}

#history-list, #todo-list {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    padding: 32px;
    margin: 0 auto;
    width: 75%;
    box-shadow: $shadow;
}

#history-list {
    border-radius: 16px 16px 0 0;
}

#todo-list {
    border-radius: 0 0 16px 16px;
}
